.bookings {
  width: 80%;
  margin: 0 auto;
  transition: 0.2s;
}

.book-ticket-redirect {
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1rem;
  background-color: rgb(255, 42, 42);
  color: white;
  border: 0;
  border-radius: 0;
  padding: 0.5rem 0 0.5rem 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.book-ticket-redirect:hover {
  background-color: rgb(220, 42, 42);
}

.current-bookings {
  text-align: center;
  transition: 0.2s;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  color: black;
  background-color: #ffffff;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: 1px solid #dedede;
  margin-bottom: 1rem;
}

.empty-bookings {
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.empty-bookings-img {
  width: 100px;
  height: 50px;
}

@media all and (max-width: 767px) {
  .bookings {
    width: 90%;
  }
}

@media all and (max-width: 1680px) {
  .bookings {
    width: 95%;
  }
}

@media all and (min-width: 2200px) {
  .bookings {
    width: 60%;
  }
}