.auto {
  width: 80%;
  margin: 0 auto;
  transition: 0.2s;
}

.auto-img {
  border-radius: 0;
}

.news-card {
  margin-bottom: 1rem;
  transition: 0.2s;
}

.news-card:hover {
  transform: scale(1.05);
}

.news-card {
  border-radius: 0;
}

.read-more {
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1rem;
  background-color: rgb(255, 42, 42);
  color: white;
  border: 0;
  border-radius: 0;
  padding: 0.5rem 0 0.5rem 0;
}

.read-more:hover {
  background-color: rgb(220, 42, 42);
}

@media all and (max-width: 767px) {
  .auto {
    width: 90%;
  }

  .news-card {
    margin-bottom: 1rem;
  }

  .news-card:hover {
    transform: none;
  }
}

@media all and (max-width: 1680px) {
  .auto {
    width: 95%;
  }
}

@media all and (min-width: 2200px) {
  .auto {
    width: 60%;
  }
}