.navbar-width {
  margin: 0 auto;
  width: 80%;
  transition: 0.3s;
}

.nav-section {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2rem;
  color: black !important;
  transition: 0.2s;
  padding: 0.2rem 1.2rem 0.2rem 1.2rem !important;
  margin: 1rem;
}

.nav-section:hover {
  color:white !important;
  background-color: rgb(255, 42, 42);
  transform: scale(1.05);
}

.section-active {
  color:white !important;
  background-color: rgb(255, 42, 42);
}

.nav-logo {
  transition: 0.5s;
}
.nav-logo:hover {
  transform: scale(1.05);
}

.nav-logo-desktop,
.nav-logo-mobile {
  margin: 0;
}

.logo {
  max-width: 100%;
  height: auto;
}

@media all and (max-width: 767px) {
  .nav-logo-desktop {
    display: none;
  }

  .nav-logo-mobile {
    max-width: 60%;
  }

  .logo {
    max-width: 100%;
    height: auto;
  }

  .nav-section {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
    text-align: center;
    margin: 0.5rem 0rem 0rem 0rem;
  }
}

@media all and (min-width: 768px) and (max-width:1280px) {
  .nav-section {
    margin: 0.2rem;
  }
}

@media all and (min-width: 768px) {
  .nav-logo-mobile {
    display: none;
  }
}

@media all and (max-width: 1680px) {
  .navbar-width {
    width: 100%;
  }
}

@media all and (min-width: 2200px) {
  .navbar-width {
    width: 60%;
  }
}