.book-ticket {
  width: 80%;
  margin: 0 auto;
  transition: 0.2s;
  background-color: white;
  border: 1px solid #dedede;
}

.book-ticket-title {
  text-align: center;
  transition: 0.2s;
  margin: 0.2rem 0rem 1rem 0rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  color: black;
}

.book-ticket-seats{
  text-align: center;
  margin-bottom: 2rem;
}

.book-ticket-track {
  transition: 0.2s;
  margin: 0.2rem 0rem 1rem 0rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.3rem;
  color: black;
}

.book-tribune-seats{
  transition: 0.2s;
  margin: 0.2rem 0rem 0rem 0rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.3rem;
  color: black;
}

.select-track {
  margin: 0 auto;
  max-width: 40%;
}

.book-checkbox {
  margin-top: 0.9rem;
  margin-left: 1rem;
}

.make-a-book {
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1rem;
  background-color: rgb(255, 42, 42);
  color: white;
  border: 0;
  border-radius: 0;
  padding: 0.5rem 0 0.5rem 0;
}

.make-a-book:hover {
  background-color: rgb(220, 42, 42);
}

.empty-bookings {
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.empty-bookings-img {
  width: 100px;
  height: 50px;
}

.modal-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.modal-body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.modal-delete-btn,
.modal-cancel-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1rem;
  background-color: rgb(255, 42, 42);
  color: white;
  border: 0;
  border-radius: 0;
}

.modal-delete-btn:hover {
  background-color: rgb(220, 42, 42);
}

.modal-cancel-btn {
  background-color: rgb(158, 158, 158);
}

@media all and (max-width: 767px) {
  .book-ticket {
    width: 90%;
  }

  .select-track {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media all and (max-width: 1680px) {
  .book-ticket {
    width: 95%;
  }
}

@media all and (min-width: 2200px) {
  .book-ticket {
    width: 60%;
  }
}